@using System.Globalization;
@model RMS.Client.Models.Contract.CostSheet;
@section PageStyles {
    <style>
        .custom-grid {
            grid-template-columns: 1fr 1fr auto 1fr 1fr auto 1fr 1fr 1fr;
        }

        @@media screen and (max-width: 1100px) {
            .custom-grid {
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            }
        }

        @@media screen and (max-width: 800px) {
            .custom-grid {
                grid-template-columns: 1fr 1fr 1fr;
            }
        }

        @@media screen and (max-width: 636px) {
            .custom-grid {
                grid-template-columns: 1fr 1fr;
            }
        }

        @@media screen and (max-width: 480px) {
            .custom-grid {
                grid-template-columns: 1fr;
            }
        }
    </style>
}

<div class="flex items-center justify-between mb-5 flex-wrap gap-4">
    <div class="flex items-center gap-4 mb-5">
        <button onclick="window.history.back();" class="py-2 px-2 inline-flex justify-center items-center gap-2 rounded-md border border-gray-400 bg-gray-700 text-white hover:opacity-70 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2 transition-all text-sm sm:text-base" title="Back">
            <svg class="w-4 h-4 text-white" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M11.707 5.293a1 1 0 0 1 0 1.414L7.414 11H19a1 1 0 1 1 0 2H7.414l4.293 4.293a1 1 0 0 1-1.414 1.414l-6-6a1 1 0 0 1 0-1.414l6-6a1 1 0 0 1 1.414 0z" /></svg>
        </button>
        <div>
            <h2 class="font-extrabold text-xl 2xl:text-2xl text-[#4B4E5C]">Add/Edit</h2>
            <p>Please fill in the required information to create or update the costing sheet</p>
        </div>
    </div>
    <div class="flex items-center gap-4">
        <div>
            <span>Total Cost:</span>
            <span id="totalCostFinal" class="status pending">@(Model.costsheetdetails != null ? @Model.costsheetdetails.Sum(a => a.Totalcost) : 0.00)</span>
        </div>
        <div>
            <span>Total Price:</span>
            <span id="totalPriceFinal" class="status completed">@(Model.costsheetdetails != null ? @Model.costsheetdetails.Sum(a => a.Totalprice) : 0.00)</span>
        </div>
    </div>
</div>

<div>
    <div class="mb-4">
        <span class="mb-2 font-medium block">Costing Sheet Name*</span>
        <div class="flex items-center gap-3 flex-wrap">
            <input type="hidden" value="@Model.costsheetid" id="costsheetid">
            <input type="text" id="costingSheetName" value="@Model.costsheetname" onchange="checkCostSheetName(this);"
                   class="py-3 px-4 block flex-1 border-gray-200 rounded-md text-sm focus:border-emerald-500 focus:ring-emerald-500"
                   placeholder="Costing Sheet Name">
        </div>
        <p id="alreadyexist" class="text-red-500"></p>
    </div>
    <div id="costingModalWrapper" class="flex flex-col gap-6">
        @if (Model != null && Model.costsheetid > 0)
        {
            int index = 0;
            @foreach (var item in Model.costsheetdetails)
            {

                <div class="grid custom-grid gap-3">
                    <div>
                        <span class="mb-2 font-medium block">Skill Name*</span>
                        <input type="hidden" id="hidskillid" value="@item.Skillid" />
                        <div class="flex items-center gap-3 flex-wrap">
                            <select class="multi-select skill_name" onchange="getexp(this);" id="cost">
                                <option value="">Select Skill</option>
                                @foreach (var skillItem in ViewBag.skilllist)
                                {
                                    @if (skillItem.Value == item.Skillid.ToString()) // Convert Skillid to string
                                    {
                                        <option value="@skillItem.Value" selected>@skillItem.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@skillItem.Value">@skillItem.Text</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>

                    <div>
                        <input type="hidden" id="hidexpid" value="@item.skillexperience" />
                        <span class="mb-2 font-medium block">Skill Experience*</span>
                        <div class="flex items-center gap-3 flex-wrap">
                            <select class="k-input skill_exp" onchange="CalcAmount(this);" id="exp">
                                <option value="">Select</option>
                            </select>
                        </div>
                    </div>

                    <div>
                        <span class="mb-2 font-medium block">Resources*</span>
                        <div class="flex items-center gap-3 flex-wrap">
                            <input type="number" onchange="CalcAmount(this);" style="width: 5rem" min="0"
                                   class="required_resources py-3 px-4 block flex-1 border-gray-200 rounded-md text-sm focus:border-emerald-500 focus:ring-emerald-500"
                                   placeholder="Required Resources" value="@item.Requiredresource">
                        </div>
                    </div>

                    <div>
                        <span class="font-medium block mb-2">Skill Cost</span>
                        <div class="flex items-center gap-3">
                            <input type="text"
                                   class="skill_cost py-3 px-4 flex-1 border-gray-200 rounded-md text-sm focus:border-emerald-500 focus:ring-emerald-500"
                                   placeholder="Skill Cost" readonly value="@item.Skillcost">
                        </div>
                    </div>
                    <div>
                        <span class="font-medium block mb-2">Period(Days)</span>
                        <div class="flex items-center gap-3">
                            <input type="number" min="0" onchange="handlePeriodChange(this)" ;
                                   class="period_days cs-period py-3 px-4 flex-1 border-gray-200 rounded-md text-sm focus:border-emerald-500 focus:ring-emerald-500"
                                   placeholder="Enter Days" value="@item.Perioddays">
                        </div>
                    </div>

                    <div>
                        <span class="font-medium block mb-2">Customer Price</span>
                        <div class="flex items-center gap-3">
                            <input type="number" min="0"
                                   class="cus-price py-3 px-4 flex-1 border-gray-200 rounded-md text-sm focus:border-emerald-500 focus:ring-emerald-500"
                                   placeholder="0" onchange="handleCPChange(this);" value="@item.Customerprice">
                        </div>
                    </div>
                    <div>
                        <span class="font-medium block mb-2">X Value</span>
                        <div class="flex items-center gap-3">
                            <input type="number" min="0" step="any" style="width: 5.25rem"
                                   class="x-value py-3 px-4 flex-1 border-gray-200 rounded-md text-sm focus:border-emerald-500 focus:ring-emerald-500"
                                   placeholder="X Value" onchange="handleXValueChange(this)" value="@item.Xvalue">
                        </div>
                    </div>
                    <div>
                        <span class="font-medium block mb-2">Total Cost</span>
                        <div class="flex items-center gap-3">
                            <input type="text"
                                   class="total-cost py-3 px-4 flex-1 border-gray-200 rounded-md text-sm focus:border-emerald-500 focus:ring-emerald-500"
                                   placeholder="0" readonly value="@item.Totalcost">
                        </div>
                    </div>
                    <div>
                        @if (index > 0)
                        {
                            <div class="flex items-center">
                                <span class="font-medium block mb-2">Total Price</span>
                                <div class="flex items-center gap-2 ml-auto">

                                    <button type="button" id="copyRowBtn" onclick="copyRow(this)">
                                        <svg class="w-4 h-4 text-blue-500" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M15.24 2h-3.894c-1.764 0-3.162 0-4.255.148c-1.126.152-2.037.472-2.755 1.193c-.719.721-1.038 1.636-1.189 2.766C3 7.205 3 8.608 3 10.379v5.838c0 1.508.92 2.8 2.227 3.342c-.067-.91-.067-2.185-.067-3.247v-5.01c0-1.281 0-2.386.118-3.27c.127-.948.413-1.856 1.147-2.593s1.639-1.024 2.583-1.152c.88-.118 1.98-.118 3.257-.118h3.07c1.276 0 2.374 0 3.255.118A3.6 3.6 0 0 0 15.24 2" /><path fill="currentColor" d="M6.6 11.397c0-2.726 0-4.089.844-4.936c.843-.847 2.2-.847 4.916-.847h2.88c2.715 0 4.073 0 4.917.847S21 8.671 21 11.397v4.82c0 2.726 0 4.089-.843 4.936c-.844.847-2.202.847-4.917.847h-2.88c-2.715 0-4.073 0-4.916-.847c-.844-.847-.844-2.21-.844-4.936z" /></svg>
                                    </button>
                                    <button onclick="removeRow(this)">
                                        <svg class="w-4 h-4 text-red-500" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 1024 1024"><path fill="currentColor" d="M512 64a448 448 0 1 1 0 896a448 448 0 0 1 0-896M288 512a38.4 38.4 0 0 0 38.4 38.4h371.2a38.4 38.4 0 0 0 0-76.8H326.4A38.4 38.4 0 0 0 288 512" /></svg>
                                    </button>
                                </div>

                            </div>
                        }
                        else
                        {
                            <div class="flex items-center">

                                <span class="font-medium block mb-2">Total Price</span>
                                <div class="flex items-center gap-2 ml-auto">

                                    <button type="button" id="copyRowBtn" onclick="copyRow(this)">
                                        <svg class="w-4 h-4 text-blue-500" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M15.24 2h-3.894c-1.764 0-3.162 0-4.255.148c-1.126.152-2.037.472-2.755 1.193c-.719.721-1.038 1.636-1.189 2.766C3 7.205 3 8.608 3 10.379v5.838c0 1.508.92 2.8 2.227 3.342c-.067-.91-.067-2.185-.067-3.247v-5.01c0-1.281 0-2.386.118-3.27c.127-.948.413-1.856 1.147-2.593s1.639-1.024 2.583-1.152c.88-.118 1.98-.118 3.257-.118h3.07c1.276 0 2.374 0 3.255.118A3.6 3.6 0 0 0 15.24 2" /><path fill="currentColor" d="M6.6 11.397c0-2.726 0-4.089.844-4.936c.843-.847 2.2-.847 4.916-.847h2.88c2.715 0 4.073 0 4.917.847S21 8.671 21 11.397v4.82c0 2.726 0 4.089-.843 4.936c-.844.847-2.202.847-4.917.847h-2.88c-2.715 0-4.073 0-4.916-.847c-.844-.847-.844-2.21-.844-4.936z" /></svg>
                                    </button>
                                </div>
                            </div>
                        }
                        <div class="flex items-center gap-3">
                            <input type="text"
                                   class="total-price py-3 px-4 flex-1 border-gray-200 rounded-md text-sm focus:border-emerald-500 focus:ring-emerald-500"
                                   placeholder="0" onchange="handleTotalPriceChange(this);" value="@item.Totalprice">

                        </div>
                    </div>
                </div>

                index++;
            }
        }
        else
        {
            <div class="grid custom-grid gap-3">
                <div>
                    <span class="mb-2 font-medium block">Skill Name*</span>
                    <div class="flex items-center gap-3 flex-wrap">
                        <select class="skill_name" onchange="getexp(this);" id="cost">
                            <option value="">Select Skill</option>
                            @foreach (var skillItem in ViewBag.skilllist)
                            {
                                <option value="@skillItem.Value">@skillItem.Text</option>
                            }
                        </select>
                    </div>
                </div>
                @* </div> *@

                <div>
                    <span class="mb-2 font-medium block">Skill Experience*</span>
                    <div class="flex items-center gap-3 flex-wrap">
                        <select class="k-input skill_exp" onchange="CalcAmount(this);" id="exp">
                            <option value="">Select</option>
                        </select>
                    </div>
                </div>

                <div>
                    <span class="mb-2 font-medium block">Resources*</span>
                    <div class="flex items-center gap-3 flex-wrap">
                        <input type="number" onchange="CalcAmount(this);" style="width: 5rem" min="0"
                               class="required_resources py-3 px-4 block flex-1 border-gray-200 rounded-md text-sm focus:border-emerald-500 focus:ring-emerald-500"
                               placeholder="Required Resources" value="1">
                    </div>
                </div>

                <div>
                    <span class="font-medium block mb-2">Skill Cost</span>
                    <div class="flex items-center gap-3">
                        <input type="text"
                               class="skill_cost py-3 px-4 flex-1 border-gray-200 rounded-md text-sm focus:border-emerald-500 focus:ring-emerald-500"
                               placeholder="Skill Cost" readonly value="">
                    </div>
                </div>
                <div>
                    <span class="font-medium block mb-2">Period(Days)</span>
                    <div class="flex items-center gap-3">
                        <input type="number" min="0" onchange="handlePeriodChange(this)" ;
                               class="period_days cs-period py-3 px-4 flex-1 border-gray-200 rounded-md text-sm focus:border-emerald-500 focus:ring-emerald-500"
                               placeholder="Enter Days" value="">
                    </div>
                </div>
                <div>
                    <span class="font-medium block mb-2">X Value</span>
                    <div class="flex items-center gap-3">
                        <input type="number" min="0" step="0.1" style="width: 5.25rem"
                               class="x-value py-3 px-4 flex-1 border-gray-200 rounded-md text-sm focus:border-emerald-500 focus:ring-emerald-500"
                               placeholder="X Value" onchange="handleXValueChange(this)" value="">
                    </div>
                </div>

                <div>
                    <span class="font-medium block mb-2">Customer Price</span>
                    <div class="flex items-center gap-3">
                        <input type="number" min="0"
                               class="cus-price py-3 px-4 flex-1 border-gray-200 rounded-md text-sm focus:border-emerald-500 focus:ring-emerald-500"
                               placeholder="0" onchange="handleCPChange(this);" value="">
                    </div>
                </div>
                <div>
                    <span class="font-medium block mb-2">Total Cost</span>
                    <div class="flex items-center gap-3">
                        <input type="text" onchange="calculateTotalCost();"
                               class="total-cost py-3 px-4 flex-1 border-gray-200 rounded-md text-sm focus:border-emerald-500 focus:ring-emerald-500"
                               placeholder="0" readonly value="">
                    </div>
                </div>
                <div>
                    <div class="flex items-center">
                        <span class="font-medium block mb-2">Total Price</span>
                        <div class="flex items-center gap-2 ml-auto">

                            <button type="button" id="copyRowBtn" onclick="copyRow(this)">
                                <svg class="w-4 h-4 text-blue-500" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M15.24 2h-3.894c-1.764 0-3.162 0-4.255.148c-1.126.152-2.037.472-2.755 1.193c-.719.721-1.038 1.636-1.189 2.766C3 7.205 3 8.608 3 10.379v5.838c0 1.508.92 2.8 2.227 3.342c-.067-.91-.067-2.185-.067-3.247v-5.01c0-1.281 0-2.386.118-3.27c.127-.948.413-1.856 1.147-2.593s1.639-1.024 2.583-1.152c.88-.118 1.98-.118 3.257-.118h3.07c1.276 0 2.374 0 3.255.118A3.6 3.6 0 0 0 15.24 2" /><path fill="currentColor" d="M6.6 11.397c0-2.726 0-4.089.844-4.936c.843-.847 2.2-.847 4.916-.847h2.88c2.715 0 4.073 0 4.917.847S21 8.671 21 11.397v4.82c0 2.726 0 4.089-.843 4.936c-.844.847-2.202.847-4.917.847h-2.88c-2.715 0-4.073 0-4.916-.847c-.844-.847-.844-2.21-.844-4.936z" /></svg>
                            </button>
                        </div>
                    </div>
                    <div class="flex items-center gap-3">
                        <input type="number" onchange="handleTotalPriceChange(this);"
                               class="total-price py-3 px-4 flex-1 border-gray-200 rounded-md text-sm focus:border-emerald-500 focus:ring-emerald-500"
                               placeholder="0" value="">
                    </div>
                </div>
            </div>

        }
    </div>

    <div class="mt-4">
        <button type="button"
                class="mb-4 py-2 px-3 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-white text-emerald-400 focus:outline-none focus:ring-2 focus:ring-emerald-500 focus:ring-offset-2 transition-all text-sm"
                id="costingModalBtn" onclick="AddMore()">

            <svg class="w-5 h-5" width="21" height="21" viewBox="0 0 21 21" fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M10.5 0C7.72562 0.0334721 5.07431 1.15047 3.11239 3.11239C1.15047 5.07431 0.0334721 7.72562 0 10.5C0.0334721 13.2744 1.15047 15.9257 3.11239 17.8876C5.07431 19.8495 7.72562 20.9665 10.5 21C13.2744 20.9665 15.9257 19.8495 17.8876 17.8876C19.8495 15.9257 20.9665 13.2744 21 10.5C20.9665 7.72562 19.8495 5.07431 17.8876 3.11239C15.9257 1.15047 13.2744 0.0334721 10.5 0ZM16.5 11.25H11.25V16.5H9.75V11.25H4.5V9.75H9.75V4.5H11.25V9.75H16.5V11.25Z"
                      fill="#00CC83" />
                <path d="M16.5 11.25H11.25V16.5H9.75V11.25H4.5V9.75H9.75V4.5H11.25V9.75H16.5V11.25Z"
                      fill="white" />
            </svg>
            Add More
        </button>
    </div>
    <div class="flex justify-end items-center gap-x-2 py-3 px-4 border-t -ml-4 -mr-4 -mb-4 sticky -bottom-4 bg-white pt-4">
        @* <button type="button" class="hs-dropdown-toggle py-3 px-4 inline-flex justify-center items-center gap-2 rounded-md border font-medium bg-white text-gray-700 shadow-sm align-middle hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-blue-600 transition-all text-sm" data-hs-overlay="#costing-sheet-modal">
        Close
        </button> *@
        <button onclick="submitCostingSheet(event);" type="submit" class="py-3 px-4 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-emerald-500 text-white hover:bg-emerald-600 focus:outline-none focus:ring-2 focus:ring-emerald-500 focus:ring-offset-2 transition-all text-sm" href="#">
            Save changes
        </button>
    </div>
</div>


<div class="hs-accordion-group mt-4">
    <div class="hs-accordion" id="hs-basic-heading-one">
        <button class="hs-accordion-toggle hs-accordion-active:text-emerald-600 py-3 inline-flex items-center gap-2 w-full font-semibold text-start text-gray-800 hover:text-gray-500 rounded-lg disabled:opacity-50 disabled:pointer-events-none" aria-controls="cost-sheet-versions">
            <svg class="hs-accordion-active:hidden block size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M5 12h14"></path>
                <path d="M12 5v14"></path>
            </svg>
            <svg class="hs-accordion-active:block hidden size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M5 12h14"></path>
            </svg>
            Previous Versions
        </button>
        <div id="cost-sheet-versions" class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300" aria-labelledby="hs-basic-heading-one">
            @if (Model != null)
            {
                @if (Model.CostSheetHistory != null && Model.CostSheetHistory.Count > 0)
                {
                    @foreach (var versions in Model?.CostSheetHistory)
                    {
                        <div class="mb-4">
                            <p class="font-bold">Version-@versions.Version</p>
                            <div>
                                <button class="hs-collapse-toggle text-sm text-blue-500 underline" data-hs-collapse="#detailCollapse@(versions.Version)">Show Details</button>
                                <div class="hs-collapse hidden transition-[height] duration-300" id="detailCollapse@(versions.Version)">
                                    <div class="w-full" style="max-width: 100%; overflow-x: auto;">
                                        <table class="table-auto w-full text-left">
                                            <thead>
                                                <tr>
                                                    <th class="px-4 py-2">Skill Name</th>
                                                    <th class="px-4 py-2">Skill Experience</th>
                                                    <th class="px-4 py-2">Required Resource</th>
                                                    <th class="px-4 py-2">Skill Cost</th>
                                                    <th class="px-4 py-2">X Value</th>
                                                    <th class="px-4 py-2">Period Days</th>
                                                    <th class="px-4 py-2">Customer Price</th>
                                                    <th class="px-4 py-2">Total Cost</th>
                                                    <th class="px-4 py-2">Total Price</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in versions.CostSheetDetails)
                                                {
                                                    <tr>
                                                        <td class="border px-4 py-2">@item.Skillname</td>
                                                        <td class="border px-4 py-2">@item.skillexperience</td>
                                                        <td class="border px-4 py-2">@item.Requiredresource</td>
                                                        <td class="border px-4 py-2">@item.Skillcost</td>
                                                        <td class="border px-4 py-2">@item.Xvalue</td>
                                                        <td class="border px-4 py-2">@item.Perioddays</td>
                                                        <td class="border px-4 py-2">@item.Customerprice</td>
                                                        <td class="border px-4 py-2">@item.Totalcost</td>
                                                        <td class="border px-4 py-2">@item.Totalprice</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            }
        </div>

    </div>
</div>


@section Scripts {
    <script>

        function initMultiselect(select) {
            const slimSelect = new SlimSelect({
                select,
            });
            return slimSelect;
        }
        if (!document.querySelector("#hidskillid")) {
            initMultiselect(document.querySelector(".skill_name"));
        }
        let skillsData = [];
        // Skill

        async function setSkillData() {
            const response = await fetch("/Base/GetSkill");
            if (response.status === 200) {
                const select = document.querySelector(".skill_name");

                const data = await response.json();

                skillsData = data;
                // data.forEach(skill => {
                //     select.innerHTML += `<option value="${skill.skillid}">${skill.skillname}</option>`;
                // })
            }
        }



        window.addEventListener("DOMContentLoaded", async () => {
            await setSkillData(); // Ensure skill data is set before anything else
            const _costSheetId = document.querySelector("#costsheetid").value;
            if (_costSheetId && _costSheetId != '0') {
                document.querySelector("#loader").style.display = "flex";
                setTimeout(() => {
                    setSkillNames();
                    document.querySelector("#loader").style.display = "none";
                }, 5000);
            }
        });

        function setSkillNames() {
            const allRows = document.querySelectorAll("#costingModalWrapper > .grid");
            allRows.forEach(item => {
                const hiddenSkillId = item.querySelector("#hidskillid").value;
                const skillName = item.querySelector(".skill_name");
                // console.log(skillName)
                // skillName.value = hiddenSkillId.trim();
                // console.log(hiddenSkillId);
                // const _slimSelect = initMultiselect(skillName);
                // console.log(_slimSelect);
                // _slimSelect.setSelected(hiddenSkillId);


                const changeEvent = new Event("change");
                skillName.dispatchEvent(changeEvent);


                initMultiselect(skillName);
                // setTimeout(() => {
                //     const expInput = item.querySelector(".skill_exp");
                //     const hiddenExpId = item.querySelector("#hidexpid").value;
                //     expInput.value = hiddenExpId;
                //     expInput.dispatchEvent(changeEvent);
                // }, 500);
            });
        }

        function copyRow(btn) {
            const _currentRow = btn.closest(".grid.custom-grid");
            const card = document.querySelector("#costingModalWrapper");
            const serialNo = document.querySelectorAll("#costingModalWrapper .grid").length + 1;

            const _copySkill = _currentRow.querySelector(".skill_name").value;
            const _copyExp = _currentRow.querySelector(".skill_exp").value;
            let _expOptions = _currentRow.querySelector(".skill_exp").innerHTML.split(`value="${_copyExp}"`);
            _expOptions = _expOptions[0] + `value="${_copyExp}" selected` + _expOptions[1];
            const _copyResources = _currentRow.querySelector(".required_resources").value;
            const _copyCost = _currentRow.querySelector(".skill_cost").value;
            const _copyPeriod = _currentRow.querySelector(".period_days").value;
            const _copyXValue = _currentRow.querySelector(".x-value").value;
            const _copyCustomerPrice = _currentRow.querySelector(".cus-price").value;
            const _copyTotalCost = _currentRow.querySelector(".total-cost").value;
            const _copyTotalPrice = _currentRow.querySelector(".total-price").value;

            const _newRow = document.createElement("div");
            _newRow.classList.add("grid", "custom-grid", "gap-3");

            let newRowHtml = `
                                        <div>
                                            <span class="mb-2 font-medium block">Skill Name</span>
                                            <div class="flex items-center gap-3 flex-wrap">
                                                <select class="multi-select skill_name" onchange="getexp(this);">
                                                    <option value="">Select skill</option>`;
            skillsData.forEach(skill => {
                newRowHtml += `<option value="${skill.skillid}" ${skill.skillid == _copySkill ? "selected" : ""}>${skill.skillname}</option>`;
            });
            newRowHtml += `</select></div></div>`;

            newRowHtml += `
                                        <div>
                                            <span class="mb-2 font-medium block">Skill Experience*</span>
                                            <div class="flex items-center gap-3 flex-wrap">
                                                <select class="k-input skill_exp" onchange="CalcAmount(this);" id="exp">
                                                           ${_expOptions}
                                                </select>
                                            </div>
                                        </div>
                                        <div>
                                            <span class="mb-2 font-medium block">Resources*</span>
                                            <div class="flex items-center gap-3 flex-wrap">
                                                <input type="text" onchange="CalcAmount(this);" style="width: 5rem"
                                                    class="required_resources py-3 px-4 block flex-1 border-gray-200 rounded-md text-sm focus:border-emerald-500 focus:ring-emerald-500"
                                                    value="${_copyResources}">
                                            </div>
                                        </div>
                                        <div>
                                            <span class="font-medium block mb-2">Skill Cost</span>
                                            <div class="flex items-center gap-3">
                                                <input type="text" class="skill_cost py-3 px-4 flex-1 border-gray-200 rounded-md text-sm focus:border-emerald-500 focus:ring-emerald-500"
                                                    value="${_copyCost}" readonly>
                                            </div>
                                        </div>
                                        <div>
                                            <span class="font-medium block mb-2">Period(Days)</span>
                                            <div class="flex items-center gap-3">
                                                <input type="number" min="0" onchange="handlePeriodChange(this);" class="period_days cs-period py-3 px-4 flex-1 border-gray-200 rounded-md text-sm focus:border-emerald-500 focus:ring-emerald-500"
                                                    value="${_copyPeriod}" placeholder="Enter Days">
                                            </div>
                                        </div>
                                        <div>
                                            <span class="font-medium block mb-2">X Value</span>
                                            <div class="flex items-center gap-3">
                                                <input type="number" min="0" step="0.1" style="width: 5.25rem" class="x-value py-3 px-4 flex-1 border-gray-200 rounded-md text-sm focus:border-emerald-500 focus:ring-emerald-500"
                                                    value="${_copyXValue}" onchange="handleXValueChange(this);">
                                            </div>
                                        </div>
                                        <div>
                                            <span class="font-medium block mb-2">Customer Price</span>
                                            <div class="flex items-center gap-3">
                                                <input type="number" min="0" class="cus-price py-3 px-4 flex-1 border-gray-200 rounded-md text-sm focus:border-emerald-500 focus:ring-emerald-500"
                                                    value="${_copyCustomerPrice}" onchange="handleCPChange(this);">
                                            </div>
                                        </div>
                                        <div>
                                            <span class="font-medium block mb-2">Total Cost</span>
                                            <div class="flex items-center gap-3">
                                                <input type="text" class="total-cost py-3 px-4 flex-1 border-gray-200 rounded-md text-sm focus:border-emerald-500 focus:ring-emerald-500"
                                                    value="${_copyTotalCost}" readonly>
                                            </div>
                                        </div>
                                        <div>
                                                                    <div class="flex items-center">
                                                                        <span class="font-medium block mb-2">Total Price</span>
                                                                        <div class="flex items-center gap-2 ml-auto">
                                                                                <button type="button" id="copyRowBtn" onclick="copyRow(this)">

                                                                                                                        <svg class="w-4 h-4 text-blue-500" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M15.24 2h-3.894c-1.764 0-3.162 0-4.255.148c-1.126.152-2.037.472-2.755 1.193c-.719.721-1.038 1.636-1.189 2.766C3 7.205 3 8.608 3 10.379v5.838c0 1.508.92 2.8 2.227 3.342c-.067-.91-.067-2.185-.067-3.247v-5.01c0-1.281 0-2.386.118-3.27c.127-.948.413-1.856 1.147-2.593s1.639-1.024 2.583-1.152c.88-.118 1.98-.118 3.257-.118h3.07c1.276 0 2.374 0 3.255.118A3.6 3.6 0 0 0 15.24 2" /><path fill="currentColor" d="M6.6 11.397c0-2.726 0-4.089.844-4.936c.843-.847 2.2-.847 4.916-.847h2.88c2.715 0 4.073 0 4.917.847S21 8.671 21 11.397v4.82c0 2.726 0 4.089-.843 4.936c-.844.847-2.202.847-4.917.847h-2.88c-2.715 0-4.073 0-4.916-.847c-.844-.847-.844-2.21-.844-4.936z" /></svg>
                                                                                                                 </button>
                                                                                                        <button type="button" onclick="removeRow(this);">
                                                                                                                        <svg class="w-4 h-4 text-red-500" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 1024 1024"><path fill="currentColor" d="M512 64a448 448 0 1 1 0 896a448 448 0 0 1 0-896M288 512a38.4 38.4 0 0 0 38.4 38.4h371.2a38.4 38.4 0 0 0 0-76.8H326.4A38.4 38.4 0 0 0 288 512"/></svg>
                                                                                                                    </button>


                                                                                    </div>
                                                                                    </div>

                                <div class="flex items-center gap-3">
                                                <input type="number" class="total-price py-3 px-4 flex-1 border-gray-200 rounded-md text-sm focus:border-emerald-500 focus:ring-emerald-500"
                                                    value="${_copyTotalPrice}" onchange="handleTotalPriceChange(this);">
                                                             </div>
                                        </div>`;

            _newRow.innerHTML = newRowHtml;
            card.append(_newRow);

            initMultiselect(_newRow.querySelector(".skill_name"));
            calculateTotalPrice();
            calculateTotalCost();
        }
        function AddMore() {

            const BtnAdd = document.querySelector("#costingModalBtn");
            const card = document.querySelector("#costingModalWrapper");
            const row = card.querySelector("div:first-child");

            const newDiv = document.createElement("div");
            newDiv.classList.add("grid", "custom-grid", "gap-3")
            let html = `<div>
                                                                                                                                                                                                <span class="mb-2 font-medium block">Skill Name</span>
                                                                                                                                                                                                <div class="flex items-center gap-3 flex-wrap">
                                                                                                                                                                                                    <select class="multi-select skill_name" onchange="getexp(this);">
                                                                                                                                                                                                        <option value="">Select skill</option>`;
            skillsData.forEach(skill => {
                html += `<option value="${skill.skillid}">${skill.skillname}</option>`;
            })

            html += '</select></div></div>'

            html += `<div>
                                                                                                                                                <span class="mb-2 font-medium block">Skill Experience*</span>
                                                                                                                                                <div class="flex items-center gap-3 flex-wrap">
                                                                                                                                                    <select class="k-input skill_exp" onchange="CalcAmount(this);" id="exp">
                                                                                                                                                        <option value="">Select</option>
                                                                                                                                                    </select>
                                                                                                                                                </div>
                                                                                                                                            </div>

                                                                                                                                            <div>
                                                                                                                                                <span class="mb-2 font-medium block">Resources*</span>
                                                                                                                                                <div class="flex items-center gap-3 flex-wrap">
                                                                                                                                                    <input type="text" onchange="CalcAmount(this);" style="width: 5rem"
                                                                                                                                                           class="required_resources py-3 px-4 block flex-1 border-gray-200 rounded-md text-sm focus:border-emerald-500 focus:ring-emerald-500"
                                                                                                                                                           placeholder="Required Resources" value="1" >
                                                                                                                                                </div>
                                                                                                                                            </div>

                                                                                                                                            <div>
                                                                                                                                                <span class="font-medium block mb-2">Skill Cost</span>
                                                                                                                                                <div class="flex items-center gap-3">
                                                                                                                                                    <input type="text"
                                                                                                                                                           class="skill_cost py-3 px-4 flex-1 border-gray-200 rounded-md text-sm focus:border-emerald-500 focus:ring-emerald-500"
                                                                                                                                                           placeholder="Skill Cost" readonly>
                                                                                                                                                </div>
                                                                                                                                            </div>
                                                                                                                                            <div>
                                                                                                                                                <span class="font-medium block mb-2">Period(Days)</span>
                                                                                                                                                <div class="flex items-center gap-3">
                                                                                                                                                            <input type="number" min="0" onchange="handlePeriodChange(this)";
                                                                                                                                                           class="period_days cs-period py-3 px-4 flex-1 border-gray-200 rounded-md text-sm focus:border-emerald-500 focus:ring-emerald-500"
                                                                                                                                                           placeholder="Enter Days">
                                                                                                                                                </div>
                                                                                                                                            </div>
                                                                                                                                            <div>
                                                                                                                                                <span class="font-medium block mb-2">X Value</span>
                                                                                                                                                <div class="flex items-center gap-3">
                                                                                                                                                                    <input type="number" min="0" step="0.1" style="width: 5.25rem"
                                                                                                                                                           class="x-value py-3 px-4 flex-1 border-gray-200 rounded-md text-sm focus:border-emerald-500 focus:ring-emerald-500"
                                                                                                                                                           placeholder="X Value" onchange="handleXValueChange(this)">
                                                                                                                                                </div>
                                                                                                                                            </div>
                                                                                                                                            <div>
                                                                                                                                                <span class="font-medium block mb-2">Customer Price</span>
                                                                                                                                                <div class="flex items-center gap-3">
                                                                                                                                                            <input type="number" min="0"
                                                                                                                                                           class="cus-price py-3 px-4 flex-1 border-gray-200 rounded-md text-sm focus:border-emerald-500 focus:ring-emerald-500"
                                                                                                                                                           placeholder="0" onchange="handleCPChange(this);">
                                                                                                                                                </div>
                                                                                                                                            </div>
                                                                                                                                            <div>
                                                                                                                                                <span class="font-medium block mb-2">Total Cost</span>
                                                                                                                                                <div class="flex items-center gap-3">
                                                                                                                                                                    <input type="text" onchange="calculateTotalCost();"
                                                                                                                                                           class="total-cost py-3 px-4 flex-1 border-gray-200 rounded-md text-sm focus:border-emerald-500 focus:ring-emerald-500"
                                                                                                                                                           placeholder="0" readonly>
                                                                                                                                                </div>
                                                                                                                                            </div>
                                                                                                                                            <div>
                                                                                                                                                <div class="flex items-center">
                                                                                                                                                        <span class="font-medium block mb-2">Total Price</span>
                                                                                                                                                        <div class="flex items-center gap-2 ml-auto">
                                                                                                                                                                <button type="button" id="copyRowBtn" onclick="copyRow(this)">

                                                                                                                                <svg class="w-4 h-4 text-blue-500" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M15.24 2h-3.894c-1.764 0-3.162 0-4.255.148c-1.126.152-2.037.472-2.755 1.193c-.719.721-1.038 1.636-1.189 2.766C3 7.205 3 8.608 3 10.379v5.838c0 1.508.92 2.8 2.227 3.342c-.067-.91-.067-2.185-.067-3.247v-5.01c0-1.281 0-2.386.118-3.27c.127-.948.413-1.856 1.147-2.593s1.639-1.024 2.583-1.152c.88-.118 1.98-.118 3.257-.118h3.07c1.276 0 2.374 0 3.255.118A3.6 3.6 0 0 0 15.24 2" /><path fill="currentColor" d="M6.6 11.397c0-2.726 0-4.089.844-4.936c.843-.847 2.2-.847 4.916-.847h2.88c2.715 0 4.073 0 4.917.847S21 8.671 21 11.397v4.82c0 2.726 0 4.089-.843 4.936c-.844.847-2.202.847-4.917.847h-2.88c-2.715 0-4.073 0-4.916-.847c-.844-.847-.844-2.21-.844-4.936z" /></svg>
                                                                                                                         </button>
                                                                                                                <button type="button" onclick="removeRow(this);">
                                                                                                                                <svg class="w-4 h-4 text-red-500" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 1024 1024"><path fill="currentColor" d="M512 64a448 448 0 1 1 0 896a448 448 0 0 1 0-896M288 512a38.4 38.4 0 0 0 38.4 38.4h371.2a38.4 38.4 0 0 0 0-76.8H326.4A38.4 38.4 0 0 0 288 512"/></svg>
                                                                                                                            </button>


                                                                                            </div>


                                                                                                                                                </div>
                                                                                                                                                <div class="flex items-center gap-3">
                                                                                                                                                                    <input type="number" onchange="handleTotalPriceChange(this);"
                                                                                                                                                           class="total-price py-3 px-4 flex-1 border-gray-200 rounded-md text-sm focus:border-emerald-500 focus:ring-emerald-500"
                                                                                                                                                           placeholder="0">
                                                                                                                                                </div>
                                                                                                                                            </div>`;
            newDiv.innerHTML = html;
            initMultiselect(newDiv.querySelector(".skill_name"))
            card.append(newDiv);
        }

        async function submitCostingSheet(e) {
            if (!validateCostingSheet()) {
                // e.preventDefault();
                return;
            }
            // e.preventDefault();
            const formData = new FormData();
            const _costingSheetName = document.querySelector("#costingSheetName").value;
            var _costsheetid = document.querySelector("#costsheetid").value;
            const _costingSheetValues = [];
            const allCostingSheetVal = document.querySelectorAll("#costingModalWrapper > div");
            allCostingSheetVal.forEach(item => {
                const _skillName = item.querySelector(".skill_name").value;
                const _skillExp = item.querySelector(".skill_exp").value;
                const _requiredResources = item.querySelector(".required_resources").value;
                const _skillCost = item.querySelector(".skill_cost").value;
                const _skillid = item.querySelector(".skill_name").value;
                const _perioddays = item.querySelector(".period_days").value;
                const _xvalue = item.querySelector(".x-value").value;
                const _customerprice = item.querySelector(".cus-price").value;
                const _totalcost = item.querySelector(".total-cost").value;
                const _totalprice = item.querySelector(".total-price").value;
                const _costingSheetValueItem = {
                    skillexperience: _skillExp,
                    requiredresource: _requiredResources,
                    skillcost: _skillCost,
                    skillid: _skillid,
                    xvalue: _xvalue,
                    perioddays: _perioddays,
                    customerprice: _customerprice,
                    totalcost: _totalcost,
                    totalprice: _totalprice
                };
                _costingSheetValues.push(_costingSheetValueItem);
            });

            // Convert _costingSheetValues to JSON string
            const costingSheetValueJSON = JSON.stringify(_costingSheetValues);


            const jsonData = {
                "costsheetname": _costingSheetName,
                "costsheetdetails": _costingSheetValues,
                "costsheetid": _costsheetid
            }

            formData.append("jsonObject", JSON.stringify(jsonData));
            if (_costsheetid) {
                formData.append("costsheetid", _costsheetid);
            }

            try {
                const response = await fetch("/CostingSheet/CostingSheetPost", {
                    method: "POST",
                    body: formData
                });

                if (response.ok) {

                    const responseData = await response.json();
                    console.log(responseData);
                    toastr.success("Cost sheet created successfully");
                    setTimeout(() => {
                        window.location.href = "/CostingSheet/";
                    }, 500)
                }
                else {

                    alert("Error: " + errorData.message);
                }
            } catch (error) {

            }
        }

        function validateCostingSheet() {
            let flag = true;
            if (!document.querySelector("#costingSheetName").value || document.querySelector("#costingSheetName").classList.contains("is-invalid")) {
                document.querySelector("#costingSheetName").classList.add("is-invalid");
                flag = false;
            } else {
                document.querySelector("#costingSheetName").classList.remove("is-invalid");
            }

            const allCostingSheetValues = document.querySelectorAll("#costingModalWrapper > div.grid");

            allCostingSheetValues.forEach(row => {
                const rowInputs = row.querySelectorAll("input, select");
                rowInputs.forEach(input => {
                    if (!input.value) {
                        input.classList.add("is-invalid");
                        flag = false;
                    } else {
                        input.classList.remove("is-invalid");
                    }
                })
            })

            return flag;
        }

        function getexp(skillinput) {
            const costSheetRow = skillinput.closest(".grid");
            const _skillid = skillinput.value;
            const _skillData = skillsData.filter(item => item.skillid == _skillid);
            const select = costSheetRow.querySelector(".skill_exp");
            select.innerHTML = "";
            select.innerHTML += '<option>Select Experience</option>';
            _skillData[0]?.skillcostings.forEach(item => {
                select.innerHTML += `<option value="${item.expname}">${item.expname}</option>`;
            });
            const hidExp = select.parentElement.parentElement.querySelector("#hidexpid");
            if (hidExp) {
                select.value = hidExp.value;
            }
            const changeEvent = new Event("change");
            select.dispatchEvent(changeEvent);
            costSheetRow.querySelector(".cus-price").value = 0;
            costSheetRow.querySelector(".total-cost").value = 0;
            costSheetRow.querySelector(".total-price").value = 0;
        }

        function CalcAmount(inp) {
            const costSheetRow = inp.closest(".grid");
            const skillid = costSheetRow.querySelector(".skill_name").value;
            const _exp = costSheetRow.querySelector(".skill_exp").value;
            const no_of_resources = costSheetRow.querySelector(".required_resources");
            const finalAmountExp = costSheetRow.querySelector(".skill_cost");

            if (skillid) {
                let exp_amount;

                skillsData.forEach(skill => {
                    if (skill.skillid == skillid) {
                        skill.skillcostings.forEach(exp => {
                            if (exp.expname == _exp) {
                                exp_amount = exp.amount;
                            }
                        })
                    }
                })

                if (exp_amount && no_of_resources.value) {
                    const calculatedAmount = Number(exp_amount) * Number(no_of_resources.value);
                    finalAmountExp.value = calculatedAmount;
                } else {
                    finalAmountExp.value = "";
                }
            }
            setTimeout(() => {
                const changeEvent = new Event("change");
                costSheetRow.querySelector(".cs-period").dispatchEvent(changeEvent);
                costSheetRow.querySelector(".x-value").dispatchEvent(changeEvent);
            }, 100)
        }

        function handleXValueChange(inp) {
            const skillCost = inp.closest(".custom-grid").querySelector(".skill_cost")?.value;
            if (!skillCost) return;

            inp.closest(".custom-grid").querySelector(".cus-price").value = Number(skillCost) * Number(inp.value);

            const costSheetPeriod = inp.closest(".custom-grid").querySelector(".cs-period")?.value;

            if (!costSheetPeriod) return;

            inp.closest(".custom-grid").querySelector(".total-price").value = Number((Number(inp.closest(".custom-grid").querySelector(".cus-price")?.value) * Number(costSheetPeriod)) / 30).toFixed(2);
            dispatchChange(inp.closest(".custom-grid").querySelector(".total-cost"));
            // dispatchChange(inp.closest(".custom-grid").querySelector(".total-price"))
            calculateTotalPrice();
                        calculateTotalCost();

        }

        function dispatchChange(el) {
            const changeEvt = new Event("change");
            el.dispatchEvent(changeEvt);
        }

        function handlePeriodChange(inp) {
            const skillCost = inp.closest(".custom-grid").querySelector(".skill_cost")?.value;
            if (!skillCost) return;

            inp.closest(".custom-grid").querySelector(".total-cost").value = Number((Number(skillCost) * Number(inp.value)) / 30).toFixed(2);

            const customerPrice = inp.closest(".custom-grid").querySelector(".cus-price")?.value;

            if (!customerPrice) return;

            inp.closest(".custom-grid").querySelector(".total-price").value = Number((Number(customerPrice) * Number(inp.value)) / 30).toFixed(2);

            dispatchChange(inp.closest(".custom-grid").querySelector(".total-cost"))
            dispatchChange(inp.closest(".custom-grid").querySelector(".total-price"))
            calculateTotalPrice();
                        calculateTotalCost();

        }

        function handleCPChange(inp) {
            const row = inp.closest(".custom-grid");
            if (!inp.value || !row.querySelector(".skill_cost").value) return;
            row.querySelector(".x-value").value = Number(Number(inp.value) / Number(row.querySelector(".skill_cost").value))
            const changeEvt = new Event("change");
            row.querySelector(".x-value").dispatchEvent(changeEvt);
        }

        function handleTotalPriceChange(inp) {
            const row = inp.closest(".custom-grid");
            const totalPrice = Number(inp.value);
            const period = Number(row.querySelector(".cs-period").value);
            const skillCost = Number(row.querySelector(".skill_cost").value);
            const xValueInp = row.querySelector(".x-value");
            const customerPriceInp = row.querySelector(".cus-price");

            if (totalPrice && skillCost && period) {
                // Calculate xValue correctly when totalPrice is given
                const xValue = (totalPrice * 30) / (skillCost * period);
                xValueInp.value = xValue;

                // Calculate customer price based on xValue and skillCost
                const customerPrice = (skillCost * xValue);
                customerPriceInp.value = customerPrice.toFixed(2);

                // Dispatch events to update other fields
                dispatchChange(xValueInp);
                dispatchChange(customerPriceInp);
            }

            // Recalculate total price across all rows
            calculateTotalPrice();
                        calculateTotalCost();

        }


        function calculateTotalPrice() {
            const allCostInp = document.querySelectorAll(".total-price");
            let _total = 0;
            allCostInp.forEach(item => {
                const _price = Number(item.value);
                _total += _price ? _price : 0;
            })
            document.querySelector("#totalPriceFinal").innerHTML = formatCurrency(_total);
        }

        function calculateTotalCost() {
            const allCostInp = document.querySelectorAll(".total-cost");
            let _total = 0;
            allCostInp.forEach(item => {
                const _price = Number(item.value);
                _total += _price ? _price : 0;
            })
            document.querySelector("#totalCostFinal").innerHTML = formatCurrency(_total);
        }

        function formatCurrency(num) {
            return num.toLocaleString('en-IN', {
                maximumFractionDigits: 2,
                style: 'currency',
                currency: 'INR'
            });
        }

        function removeRow(btn) {
            btn.closest(".grid").remove();
            dispatchChange(btn.closest(".custom-grid").querySelector(".total-cost"))
            dispatchChange(btn.closest(".custom-grid").querySelector(".total-price"))
            calculateTotalPrice();
            calculateTotalCost();
        }
        let iscostsheetunique = true;
        async function checkCostSheetName(inp) {
            if (!inp.value.trim()) {
                return;
            }

            const formData = new FormData();
            var costsheetid = $("#costsheetid").val();
            formData.append("costsheetname", inp.value.trim());
            formData.append("costsheetid", costsheetid);

            const response = await fetch("/CostingSheet/CheckCostSheetName", {
                method: "POST",
                body: formData
            })

            if (response.status === 200) {
                const data = await response.json();
                console.log(data);
                if (data.responseContent != "false") {
                    inp.classList.add("is-invalid");
                    iscostsheetunique = false;
                    document.querySelector("#alreadyexist").innerHTML = "Costsheet name already exist.";
                }
                else {
                    document.querySelector("#alreadyexist").innerHTML = "";
                    inp.classList.remove("is-invalid");
                    iscostsheetunique = true;
                }
            } else {
                toastr.error("Something went wong");
            }

        }
    </script>
}