@model IEnumerable<RMS.Client.Models.Timesheet.Timesheets>;
@{
    Layout = "Timesheet";
}
    <div class="relative max-w-[85rem] w-full mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between items-center">
            <div class="flex items-center">
             <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#00cc83" d="M13 3a9 9 0 0 0-9 9H1l3.89 3.89l.07.14L9 12H6c0-3.87 3.13-7 7-7s7 3.13 7 7s-3.13 7-7 7c-1.93 0-3.68-.79-4.94-2.06l-1.42 1.42A8.954 8.954 0 0 0 13 21a9 9 0 0 0 0-18m-1 5v5l4.28 2.54l.72-1.21l-3.5-2.08V8z" /></svg>
                <p class="font-extrabold text-lg lg:text-xl" style="margin-left: 0.3rem;">Timesheet History</p>
            </div>

        </div>
        <!-- Table Section -->
        <div class="mt-4 mx-auto">
            <!-- Card -->
            <div class="flex flex-col">
                <div class="-m-1.5 overflow-x-auto">
                    <div class="p-1.5 min-w-full inline-block align-middle">
                        <div class="bg-white border border-gray-200 rounded-xl shadow-sm overflow-hidden">
                            <!-- Header -->
                            <!-- End Header -->
                            <!-- Table -->
                            <table class="min-w-full divide-y divide-gray-200" id="datatable">
                                <thead class="bg-gray-50">
                                    <tr>
                                        <th scope="col" class="pl-6 py-3 text-left whitespace-nowrap">
                                            <div class="flex items-center gap-x-2">
                                                <span class="text-xs font-semibold uppercase tracking-wide text-gray-800">
                                                    TimesheetId
                                                </span>
                                            </div>
                                        </th>

                                        <th scope="col" class="px-6 py-3 text-left whitespace-nowrap">
                                            <div class="flex items-center gap-x-2">
                                                <span class="text-xs font-semibold uppercase tracking-wide text-gray-800">
                                                    Date
                                                </span>
                                            </div>
                                        </th>

                                        <th scope="col" class="px-6 py-3 text-left whitespace-nowrap">
                                            <div class="flex items-center gap-x-2">
                                                <span class="text-xs font-semibold uppercase tracking-wide text-gray-800">
                                                    Total Hours
                                                </span>
                                            </div>
                                        </th>

                                        <th scope="col" class="px-6 py-3 text-left whitespace-nowrap">
                                            <div class="flex items-center gap-x-2">
                                                <span class="text-xs font-semibold uppercase tracking-wide text-gray-800">
                                                    Status
                                                </span>
                                            </div>
                                        </th>

                                        <th scope="col" class="px-6 py-3 text-left whitespace-nowrap mr-2">
                                            <div class="flex items-center justify-center gap-x-2">
                                                <span class="text-xs font-semibold uppercase tracking-wide text-gray-800">
                                                    Action
                                                </span>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                @if (Model != null)
                                {
                                    int r = 0;
                                    <tbody class="divide-y divide-gray-200">
                                        @foreach (var temp in Model)
                                        {
                                            <tr>
                                                <td class="h-px w-px whitespace-nowrap">
                                                    <div class="text-sm px-6 py-3 text-gray-800">
                                                        @temp.Timesheethistoryid
                                                    </div>
                                                    <input type="hidden" value="@temp.Timesheetid" id="tsId">
                                                </td>
                                                <td class="h-px w-72 whitespace-nowrap">
                                                    <div class="text-sm px-6 py-3 text-gray-800">
                                                        @temp.Timesheetdate.ToString("dd/MM/yyyy")
                                                    </div>
                                                </td>
                                                <td class="h-px w-px whitespace-nowrap">
                                                    <div class="text-sm px-6 py-3 text-gray-800">
                                                        @temp.Totalhours
                                                    </div>
                                                </td>
                                                <td class="h-px w-px whitespace-nowrap">
                                                    <div class="text-sm px-6 py-3">
                                                        <span class="inline-flex items-center gap-1.5 py-0.5 px-2 rounded-full text-xs font-medium bg-green-100 text-green-800">
                                                            Submitted
                                                        </span>
                                                    </div>
                                                </td>

                                                <td class="h-px w-px whitespace-nowrap">
                                                    <a href="@Url.Action("Add", "Timesheet", new RouteValueDictionary(new { id = temp.Timesheetid, isSummary = true }))"
                                                       class="text-sm text-gray-600 hover:text-blue-700 underline" style="margin-left: 2.5rem;">
                                                        View
                                                    </a>
                                                </td>

                                            </tr>
                                            r++;
                                        }
                                    </tbody>
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Card -->
        </div>
        <!-- End Table Section -->
    </div>
@section Scripts{
    <script>
        var isSummary = '@ViewBag.isSummaryHistory';
        console.log(isSummary);
        if (isSummary === 'True') {
            $("input").attr("disabled", true);
            $("select").attr("disabled", true);
            $("textarea").attr("disabled", true);
        }
        let datatable = new DataTable("#datatable");
    </script>
}